$headShadow: #f5eb82;
$altbg: #474747;
$fire: #f52314;
$posion: #aa26de;
$water: #63bcf7;
$grass: #28de71;
$electric: #fcf047;
$normal: #e67722;
$bug: #178f25;
$dark: #9785ff;
$dragon: #ff8af9;
$ghost: #780417;
$rock: #b5983f;
$psychic: #cfe398;
$allThem: #4c44e3;