@import './settings/reset';
@import './settings/fonts';
@import './components/pokemonCards';

.pagination {
  li {
    width: 3rem;
    a {

    }
  }
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
}