@import './settings/reset';
@import './settings/fonts';
@import './components/pokemonCards';
@import './components/navbar';
@import '/components/welcomePage';
@import '/components/filterbar';


.pagination {
  li {
    width: 3rem;
    a {

    }
  }
}


.pokemon-list {
  display: flex;
  flex-wrap: wrap;
}


